/* Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* WEATHER APP */
:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-dim-a0: #d3d3d3;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #00abeb;
  --clr-primary-a10: #48b4ed;
  --clr-primary-a20: #69bdf0;
  --clr-primary-a30: #83c7f2;
  --clr-primary-a40: #9ad0f4;
  --clr-primary-a50: #b0d9f7;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--clr-surface-a0);
  color: var(--clr-light-a0);
  font-family: sans-serif;
}

#main-container {
  width: 800px;
}

/* #main-container > * {
  border: 1px solid var(--clr-primary-a0);
} */

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search-bar-container {
  display: flex;
  background-color: var(--clr-surface-a10);
  border-radius: 4px;
  width: 400px;
  padding: 4px 8px;
}

#city {
  all: unset;
  background-color: var(--clr-surface-a10);
  width: 100%;
}

#loading {
  display: none;
  width: 24px;
  height: 24px;
}

#suggestions-container {
  position: absolute;
  top: 48px;
  right: calc(50% - 254px);
  background-color: var(--clr-surface-a10);
  border-radius: 4px;
  width: 400px;
}

.suggestion-item-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px solid var(--clr-dim-a0);
  padding: 4px 8px;
}

#suggestions-container :last-child {
  border-bottom: 0px solid var(--clr-dim-a0);
}

.suggestion-item-container:hover {
  background-color: var(--clr-surface-a20);
}

#suggestions-container :first-child:hover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#suggestions-container :last-child:hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.region-and-country {
  color: var(--clr-dim-a0);
  font-size: 14px;
}

.no-cities-found-container {
  padding: 4px 8px;
}

#toggle-degree {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  cursor: pointer;
  border: 1px solid var(--clr-light-a0);
  border-radius: 4px;
}

#f,
#c {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 30px;
}

.active-degree {
  background-color: var(--clr-light-a0);
  color: var(--clr-dark-a0);
}

/* CURRENT WEATHER */
#current-weather-container {
  display: grid;
  grid-template: 36px repeat(3, 64px) / repeat(2, 1fr) 2fr;
  grid-template-areas:
    "header header header"
    "temp conditions sun"
    "temp conditions low-high"
    "temp conditions humidity-wind";
  border: 1px solid var(--clr-light-a0);
  border-radius: 8px;
}

#current-weather-header-container {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-light-a0);
  font-weight: bold;
  padding: 0 12px;
}

#current-weather-heading,
#current-weather-city {
  font-size: 14px;
}

#current-weather-temp-container {
  grid-area: temp;
  display: grid;
  grid-template-rows: 116px 76px;
}

#current-weather-temp {
  align-self: end;
  justify-self: center;
  font-size: 64px;
  line-height: 64px;
}

#current-weather-feels-like {
  justify-self: center;
}

#current-weather-conditions-container {
  grid-area: conditions;
}

#current-weather-sun-container {
  grid-area: sun;
}

#current-weather-low-high-container {
  grid-area: low-high;
}

#current-weather-humidity-wind {
  grid-area: humidity-wind;
}
