/* Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* WEATHER APP */
:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-dim-a0: #d3d3d3;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #00abeb;
  --clr-primary-a10: #48b4ed;
  --clr-primary-a20: #69bdf0;
  --clr-primary-a30: #83c7f2;
  --clr-primary-a40: #9ad0f4;
  --clr-primary-a50: #b0d9f7;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--clr-surface-a0);
  color: var(--clr-light-a0);
  font-family: sans-serif;
}

#main-container {
  width: 800px;
}

/* #main-container > * {
  border: 1px solid var(--clr-primary-a0);
} */

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search-bar-container {
  display: flex;
  background-color: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a30);
  border-radius: 4px;
  width: 400px;
  padding: 4px 8px;
}

#city {
  all: unset;
  background-color: var(--clr-surface-a10);
  width: 100%;
}

#loading {
  display: none;
  width: 24px;
  height: 24px;
}

#suggestions-container {
  position: absolute;
  top: 40px;
  right: calc(50% - 268px);
  background-color: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a30);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
  width: 400px;
  z-index: 2;
}

.suggestion-item-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px solid var(--clr-surface-a30);
  padding: 4px 8px;
}

#suggestions-container :last-child {
  border-bottom: 0px solid var(--clr-dim-a0);
}

.suggestion-item-container:hover {
  background-color: var(--clr-surface-a20);
}

#suggestions-container :last-child:hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.region-and-country {
  color: var(--clr-dim-a0);
  font-size: 14px;
}

.no-cities-found-container {
  padding: 4px 8px;
}

#temp-unit {
  cursor: pointer;
  color: var(--clr-light-a0);
  background-color: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a30);
  border-radius: 4px;
  padding: 8px 4px 8px 0;
}

#temp-unit:focus {
  outline: none;
}

/* CURRENT WEATHER */
#current-weather-container {
  display: grid;
  grid-template: 36px repeat(3, 64px) / repeat(2, 1fr) 2fr;
  grid-template-areas:
    "header header header"
    "temp conditions sun"
    "temp conditions low-high"
    "temp conditions humidity-wind";
  background-color: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a30);
  border-radius: 8px;
}

#current-weather-header-container {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-surface-a30);
  font-weight: bold;
  margin: 0 12px;
}

#current-weather-heading,
#current-weather-city {
  font-size: 14px;
}

#current-weather-temp-container {
  grid-area: temp;
  display: grid;
  grid-template-rows: 116px 76px;
  justify-content: end;
  padding-right: 26px;
}

#current-weather-temp {
  align-self: end;
  justify-self: center;
  font-size: 72px;
  line-height: 72px;
}

#current-weather-feels-like {
  justify-self: center;
  font-size: 15px;
}

#current-weather-conditions-container {
  grid-area: conditions;
  display: grid;
  grid-template-rows: 116px 76px;
  justify-content: start;
  justify-items: center;
  padding-left: 38px;
}

#current-weather-conditions-icon {
  align-self: center;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%)
    hue-rotate(110deg) brightness(98%) contrast(108%);
  width: 96px;
  height: 96px;
  padding-top: 32px;
}

#current-weather-conditions-text {
  font-size: 15px;
  text-align: center;
  width: 96px;
}

#current-weather-sun-container {
  grid-area: sun;
  display: grid;
  align-items: end;
  grid-template-columns: 24px 176px 24px 176px;
  padding-bottom: 10px;
}

#current-weather-sunrise-icon,
#current-weather-sunset-icon {
  justify-self: end;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%)
    hue-rotate(110deg) brightness(98%) contrast(108%);
}

#current-weather-sunrise-time,
#current-weather-sunset-time {
  padding-left: 4px;
}

#current-weather-low-high-container {
  grid-area: low-high;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

#current-weather-humidity-wind-container {
  grid-area: humidity-wind;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 10px;
}

/* HOURLY WEATHER */
#hourly-weather-container {
  display: grid;
  grid-template: 36px 144px / 800px;
  grid-template-areas:
    "header"
    "carousel";
  background-color: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a30);
  border-radius: 8px;
  line-height: 1;
  margin-top: 7px;
}

#hourly-weather-header {
  grid-area: header;
  display: grid;
  align-items: center;
  border-bottom: 1px solid var(--clr-surface-a30);
  font-weight: bold;
  margin: 0 12px;
}

#hourly-weather-heading {
  font-size: 14px;
}

#hourly-weather-carousel {
  grid-area: carousel;
  justify-self: center;
  display: grid;
  grid-template-columns: 28px repeat(10, 72px) 28px;
  margin: 0 12px;
}

#hourly-weather-left-arrow-container,
#hourly-weather-right-arrow-container,
.hourly-weather-hour-container,
.hourly-weather-time-container,
.hourly-weather-conditions-icon-container,
.hourly-weather-temp-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.hourly-weather-hour-container {
  gap: 8px;
  margin: 12px 0;
}

.hidden-hour {
  display: none;
}

#hourly-weather-left-arrow-container:disabled,
#hourly-weather-right-arrow-container:disabled {
  background-color: var(--clr-surface-a20);
}

#hourly-weather-left-arrow-icon.disabled,
#hourly-weather-right-arrow-icon.disabled {
  filter: brightness(0) saturate(100%) invert(16%) sepia(0%) saturate(1092%)
    hue-rotate(221deg) brightness(78%) contrast(92%);
}

#hourly-weather-left-arrow-container,
#hourly-weather-right-arrow-container {
  all: unset;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--clr-surface-a30);
  border-radius: 4px;
  margin: 12px 0;
}

.hourly-weather-conditions-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%)
    hue-rotate(110deg) brightness(98%) contrast(108%);
  width: 48px;
  height: 48px;
}

.hourly-weather-precip-prob-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.hourly-weather-precip-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%)
    hue-rotate(110deg) brightness(98%) contrast(108%);
  width: 12px;
  height: 12px;
}

.hourly-weather-precip-prob {
  font-size: 14px;
}

/* 10-DAY WEATHER */
#ten-day-weather-container {
  display: grid;
  grid-template: 36px 800px / 800px;
  background-color: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a30);
  border-radius: 8px;
  line-height: 1;
  margin-top: 7px;
  margin-bottom: 16px;
}

#ten-day-weather-header {
  display: grid;
  align-items: center;
  border-bottom: 1px solid var(--clr-surface-a30);
  font-weight: bold;
  margin: 0 12px;
}

#ten-day-weather-heading {
  font-size: 14px;
}

#ten-day-weather-schedule {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  margin: 0 12px;
}

#ten-day-weather-schedule :last-child {
  border-bottom: none;
}

.ten-day-weather-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-surface-a30);
  padding: 0 16px;
}

.ten-day-weather-day-container,
.ten-day-weather-conditions-icon-container,
.ten-day-weather-low-high-container,
.ten-day-weather-conds-desc-container,
.ten-day-weather-precip-container {
  display: grid;
  align-items: center;
}

.ten-day-weather-day-container {
  text-align: center;
  width: 38px;
}

.ten-day-weather-weekday-text {
  align-self: end;
}

.ten-day-weather-date-text {
  align-self: start;
  color: var(--clr-dim-a0);
  font-size: 14px;
}

.ten-day-weather-conditions-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%)
    hue-rotate(110deg) brightness(98%) contrast(108%);
  width: 48px;
  height: 48px;
}

.ten-day-weather-low-high-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  text-align: center;
  width: 125px;
}

.ten-day-weather-conds-desc-container {
  width: 250px;
}

.ten-day-weather-conds-desc-text {
  font-size: 14px;
}

.ten-day-weather-precip-container {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  width: 70px;
}

.ten-day-weather-precip-icon {
  justify-self: end;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%)
    hue-rotate(110deg) brightness(98%) contrast(108%);
  width: 12px;
  height: 12px;
}

.ten-day-weather-precip-text {
  justify-self: end;
}
